<h1>Hello, welcome to Tacos!!</h1> 

<h2>This is my website :) 😎 </h2>

<h3>Tacos:</h3>


<% tacos = ["Carnitas", "Asada", "Fish", "Avocado"] %>

<p>There are so many tacos: <%= tacos.length%></p>


<ul>
  <li><%=tacos[0] %></li>
  <li><%=tacos[1] %></li>
  <li><%=tacos[2] %></li>
  <li><%=tacos[3] %></li>

